= javascript_include_tag "http://code.highcharts.com/highcharts.js"

%p#notice= notice

%p
  = link_to @clip.url, @clip.url
  = link_to 'Edit', edit_clip_path(@clip), :class => "btn btn-info"

#chart

:javascript
  $(function() {
    new Highcharts.Chart({
      chart: { renderTo: 'chart', type: 'column' },
      title: { text: '#{@clip.name}' },
      xAxis: { categories: #{@clip.labels}, title: { text: '#{@clip.fields[0]}' } },
      yAxis: { title: { text: '#{@clip.fields[1] }' } },
      series: [{
        data: #{@clip.series}
      }]
    });
  })
